@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@property --bg-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.container {
  max-width: 100%;
  padding: 0 61px;
}

/* NAVBAR */
.navbar .container {
  display: flex;
  justify-content: space-between;
  padding: 75px 61px;
  align-items: center;
}

.nav-logo {
  color: white;
  text-transform: uppercase;
}

.nav-list ul {
  list-style: none;
  display: flex;
  gap: 53px;
}

.nav-item .nav-link {
  text-decoration: none;
  color: white;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}

.nav-item .nav-link.contact-btn {
  border: 2px solid white;
  padding: 6px;
  border-radius: 105px;
  padding: 9px 36px;
}

/* HOME */
.home {
  position: relative;
}

.start-page {
  width: 100%;
  height: 67vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-page h1 {
  color: white;
  font-size: 19.5vw;
  font-weight: 700;
  text-align: center;
  line-height: 0.9;
}

.other-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.other-text p {
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.since h1 {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.cards {
  background-color: #e4e4e4;
  max-width: 281px;
  min-height: 480px;
  position: absolute;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 1);
}

.cards:nth-child(1) {
  transform: rotate(14deg);
  left: 28%;
  top: 20%;
}

.cards:nth-child(2) {
  transform: rotate(-19deg);
  right: 24.2%;
  top: 0;
}

.card-image {
  padding: 120px;
  background-size: cover;
  background-color: #be5cff;
}

.card-content {
  padding: 20px;
}

.card-content .card-title {
  text-transform: uppercase;
}

.work-image{
  background-color: #D9D9D9;
  width: 560px;
  height: 802px;
  border-radius: 60px;
}

.work-content{
  display: flex;
  flex-direction: column;
  color: white;
  gap: 70px;
}

.work-content h1{
  font-size: 64px;
  max-width: 54%;
}

.work-content p {
  font-size: 20px;
  max-width: 396px;
}

.work-check{
  display: flex;
  justify-content: space-between;
}

.card-left{
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

.card-wrapper{
  display: flex;
  align-items: start;
  gap:90px
}

.card-right{
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }

  .navbar .container {
    padding: 30px;
  }

  .nav-list {
    display: none;
  }

  .start-page {
    height: 180px;
  }

  .start-page h1 {
    font-size: 16.1vw;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .cards {
    position: relative;
    transform: rotate(0deg) !important;
    left: 0 !important;
  }
  .other-text {
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}
