.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: cetner;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.swiper-slide:nth-child(1n) {
  background-color: aqua;
}
.swiper-slide:nth-child(2n) {
  background-color: rgb(255, 0, 0);
}
.swiper-slide:nth-child(3n) {
  background-color: rgb(255, 255, 0);
}
.swiper-slide:nth-child(4n) {
  background-color: rgb(0, 123, 12);
}
.swiper-slide:nth-child(5n) {
  background-color: rgb(111, 4, 23);
}
.swiper-slide:nth-child(6n) {
  background-color: rgb(0, 0, 244);
}
.swiper-slide:nth-child(7n) {
  background-color: rgb(255, 0, 255);
}
.swiper-slide:nth-child(8n) {
  background-color: rgb(222, 93, 10);
}
.swiper-slide:nth-child(9n) {
  background-color: rgb(33, 25, 1);
  color: white;
}

.swiper {
  width: 240px;
  height: 300px;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: -20%;
  z-index: 9999;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: red;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: red;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
