/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 4rem;
  width: 100%;
  z-index: 1000;
}

.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.nav-list {
  display: flex;
  gap: 1.2rem;
  list-style: none;
}

.nav-link {
  color: white;
  text-decoration: none;
}

/* SWIPER FULL SCREEN */
#scaefy-swiper,
.swiper-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SLIDE IMAGE */
.swiper-slide .slide-image {
  width: 100%;
  height: 100%;
}

.swiper-slide .slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 99;
}

.swiper-slide .slide-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.45)
  );
  z-index: 2;
  pointer-events: none;
}

.swiper-slide .slide-content {
  position: absolute;
  z-index: 99999;
}

.swiper-slide .slide-content h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 800;
}
/* PAGINATION */
.swiper-pagination {
  bottom: 30px !important;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.4);
  opacity: 1;
  border-radius: 4px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: #dd0000;
}

/* NAV BUTTONS */
.swiper-button-prev,
.swiper-button-next {
  color: white;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 1rem 0;
}

.footer a {
  color: black;
  text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav {
    padding: 1.5rem 2rem;
  }

  .nav-list {
    gap: 0.8rem;
  }
}
